Matteo Dell'Acqua <dellacqua.matteo99@gmail.com>
Tommaso Fontana <tommaso.fontana.96@gmail.com>
Tommaso Fontana <tommaso.fontana.96@gmail.com> <tommaso.fontana.ext@wuerth-phoenix.com>
Tommaso Fontana <tommaso.fontana.96@gmail.com> <zom@localhost.localdomain>
Valentin Lorentz <vlorentz@softwareheritage.org>
