[package]
name = "webgraph"
version = "0.1.0"
edition = "2021"
description = "A Rust port of the WebGraph framework (http://webgraph.di.unimi.it/)."
repository = "https://github.com/vigna/webgraph-rs/"
license = "Apache-2.0 OR LGPL-2.1-or-later"
readme = "README.md"
keywords = ["graph", "compression", "codes", "webgraph"]
categories = ["compression", "data-structures"]


[features]
default = []
slow_tests = []
be_bins = []
le_bins = []
fuzz = ["dep:arbitrary", "dep:zip", "dsi-bitstream/fuzz"]

[dependencies]
anyhow = { version = "1.0.79", features=["backtrace"]}
java-properties = "2.0.0"
mmap-rs = "0.6.1"
bitvec = { version = "1.0.1", features = ["atomic"] }
num_cpus = "1.16.0"
epserde = "0.3.1"
sux = "0.1.3"
dsi-bitstream = "0.1.8"
#dsi-bitstream = { path = "../dsi-bitstream-rs" }
clap = { version = "4.4.18", features = ["derive"] }
dsi-progress-logger = "0.2.2"
log = "0.4.20"
stderrlog = "0.5.4"
rand = { version = "0.8.5", features = ["small_rng"] }
rayon = "1.8.1"
tempfile = "3.5.0"
bytemuck = "1.14.0"
arbitrary = { version = "1.3.2", features = ["derive"], optional = true }
zip = {version="0.6.6", optional=true}
libc = "0.2.147"
itertools = "0.12.0"
lender = "0.2.9"
common_traits = "0.10.0"
impl-tools = "0.10.0"
bitflags = "2.4.2"

[dev-dependencies]
rand = { version = "0.8.5", features = ["small_rng"] }
env_logger = "0.11.0"

[profile.release] # Used for the examples
opt-level = 3             # like --release
lto = "fat"               # Full LTO
overflow-checks = false   # Disable integer overflow checks.
debug = true              # Include debug info.
debug-assertions = false  # Enables debug assertions.
codegen-units=1           # slower compile times, but maybe better perf

[lib]
name = "webgraph"
path = "src/lib.rs"
