name: Test LLP pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always
  RUST_MIN_STACK: 67108864 # 64MiB

jobs:
  llp:
    runs-on: ubuntu-latest
    steps:
      - name: Run LLP test on CNR2000
        run: cargo test test_llp_pipeline --all-features
