name: Rust CI Pipeline

on:
  push:
    branches:
  pull_request:
    branches:

env:
  CARGO_TERM_COLOR: always
  RUST_MIN_STACK: 67108864 # 64MiB

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Check formatting
        run: cargo fmt -- --check
      - name: Run clippy
        run: cargo clippy #-- -Dclippy::all -Dclippy::cargo
      - name: Run tests
        run: RUST_BACKTRACE=full cargo test --verbose

  coverage:
    needs: build
    name: coverage
    runs-on: ubuntu-latest
    container:
      image: xd009642/tarpaulin:develop-nightly
      options: --security-opt seccomp=unconfined
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Generate code coverage
        run: |
          cargo +nightly tarpaulin --verbose --engine llvm --all-features --workspace --out Lcov

      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: "lcov.info"
